---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"cf339fd5eb4bbd4cc9aabdfcdacd6ca3"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 0c1e486600373c2453775cc8ff4761a9
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":30315,"known_for":[{"adult":false,"backdrop_path":"/jjAq3tCezdlQduusgtMhpY2XzW0.jpg","id":49051,"original_title":"The
        Hobbit: An Unexpected Journey","release_date":"2012-12-14","poster_path":"/h1XjBJoWdOh8aegBoVYKgABQZSL.jpg","popularity":9.56963840205204,"title":"The
        Hobbit: An Unexpected Journey","video":false,"vote_average":6.7,"vote_count":4729,"media_type":"movie"},{"adult":false,"backdrop_path":"/pmZtj1FKvQqISS6iQbkiLg5TAsr.jpg","id":1771,"original_title":"Captain
        America: The First Avenger","release_date":"2011-07-22","poster_path":"/sBZs1jSybBRBXDwcCR8IOyHLUMc.jpg","popularity":7.16355278333292,"title":"Captain
        America: The First Avenger","video":false,"vote_average":6.3,"vote_count":3192,"media_type":"movie"},{"adult":false,"backdrop_path":"/hyR7Fs6Tepgu3yCQGtgO4Ilz9tY.jpg","id":57158,"original_title":"The
        Hobbit: The Desolation of Smaug","release_date":"2013-12-13","poster_path":"/gQCiuxGsfiXH1su6lp9n0nd0UeH.jpg","popularity":11.4294188903628,"title":"The
        Hobbit: The Desolation of Smaug","video":false,"vote_average":7.8,"vote_count":1318,"media_type":"movie"}],"name":"Richard
        Armitage","popularity":11.5168566230611,"profile_path":"/nxA9EUBaipqb68ZbD5aGcjlT6zE.jpg"},{"adult":false,"id":3037,"known_for":[{"adult":false,"backdrop_path":"/r38utnwaWYRkWinxDrRyPviX81E.jpg","id":39514,"original_title":"RED","release_date":"2010-10-14","poster_path":"/q2mwTRKrq1etP9S4SZVDIJq0wI2.jpg","popularity":1.42589551119896,"title":"RED","video":false,"vote_average":6.4,"vote_count":1406,"media_type":"movie"},{"adult":false,"backdrop_path":"/adTQnKMKOJ2Gbk2MC3nBez0Pbc3.jpg","id":578,"original_title":"Jaws","release_date":"1975-06-19","post[...]
