---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"2d57bd6d28a191a3eae4ab172ebb9886"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '2210'
      X-Memc-Expires:
      - '8590'
      X-Memc-Key:
      - 8afc70f04a76b0e47ecc68d4229c0c1e
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":512991,"known_for":[{"backdrop_path":"/aKz3lXU71wqdslC1IYRC3yHD6yw.jpg","id":1399,"original_name":"Game
        of Thrones","first_air_date":"2011-04-17","origin_country":["US"],"poster_path":"/jIhL6mlT7AblhbHJgEoiBIOUVl1.jpg","popularity":43.1665573151015,"name":"Game
        of Thrones","vote_average":9.2,"vote_count":229,"media_type":"tv"},{"adult":false,"backdrop_path":"/xjjO3JIdneMBTsS282JffiPqfHW.jpg","id":150689,"original_title":"Cinderella","release_date":"2015-03-13","poster_path":"/o1F2aloaOUufHHOsV0laA9aw9N0.jpg","popularity":9.00814581363024,"title":"Cinderella","video":false,"vote_average":7.3,"vote_count":176,"media_type":"movie"},{"adult":false,"backdrop_path":"/eCrZruw6w5B6kUuMYuPbPy73fWL.jpg","id":119286,"original_title":"Birdsong","release_date":"2012-04-24","poster_path":"/lQohZmslMO7tkLRMArs0F288TH6.jpg","popularity":0.271234419125533,"title":"Birdsong","video":false,"vote_average":6.0,"vote_count":6,"media_type":"movie"}],"name":"Richard
        Madden","popularity":4.34010672388125,"profile_path":"/fBEQiAvjmP6nYv1MyoVtQAf2OPX.jpg"},{"adult":false,"id":30315,"known_for":[{"adult":false,"backdrop_path":"/jjAq3tCezdlQduusgtMhpY2XzW0.jpg","id":49051,"original_title":"The
        Hobbit: An Unexpected Journey","release_date":"2012-12-14","poster_path":"/h1XjBJoWdOh8aegBoVYKgABQZSL.jpg","popularity":6.14638216004321,"title":"The
        Hobbit: An Unexpected Journey","video":false,"vote_average":6.8,"vote_count":4962,"media_type":"movie"},{"adult":false,"backdrop_path":"/pmZtj1FKvQqISS6iQbkiLg5TAsr.jpg","id":1771,"original_title":"Captain
        America: The First Avenger","release_date":"2011-07-22","poster_path":"/sBZs1jSybBRBXDwcCR8IOyHLUMc.jpg","popularity":6.35314623697099,"title":"Captain
        America: The First Avenger","video":false,"vote_average":6.3,"vote_count":3365,"media_type":"movie"},{"adult":false,"backdrop_path":"/hyR7Fs6Tepgu3yCQGtgO4Ilz9tY.jpg","id":57158,"original_title":"The
        Hobbit: The Desolation of Smaug","release_date":"2013-12-13","poster_path":"/gQCiuxGsfiXH1su6lp9n0nd0UeH.jpg","popularity":6.31540044238141,[...]
