---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"39e39bbd166d5ac8a390fa3c8ef448b8"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '159'
      X-Memc-Expires:
      - '10641'
      X-Memc-Key:
      - 0c1e486600373c2453775cc8ff4761a9
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":16554,"known_for":[{"adult":false,"backdrop_path":"/5tc7kIF9MXLwSDyW61sj4jTvBxX.jpg","id":1368,"original_title":"First
        Blood","release_date":"1982-10-22","poster_path":"/jkzJg3WYFf2SPFVfyeRQL75vFzu.jpg","popularity":0.901056848494522,"title":"First
        Blood","vote_average":6.7,"vote_count":313,"media_type":"movie"},{"adult":false,"backdrop_path":"/dy5ThWXUuEHH60liT8oVSDqkSGB.jpg","id":1369,"original_title":"Rambo:
        First Blood Part II","release_date":"1985-05-21","poster_path":"/xYLmHi80zIlu3JDfJYfd1JY0Xl7.jpg","popularity":0.979096764083766,"title":"Rambo:
        First Blood Part II","vote_average":6.1,"vote_count":180,"media_type":"movie"},{"adult":false,"backdrop_path":"/mx0x96S8ZCXXoSxFinMbyI1117f.jpg","id":1370,"original_title":"Rambo
        III","release_date":"1988-05-24","poster_path":"/s54DchYWkSTCi9z7Is2IIX3qmvw.jpg","popularity":1.26756895592622,"title":"Rambo
        III","vote_average":5.8,"vote_count":150,"media_type":"movie"}],"name":"Richard
        Crenna","popularity":4.47649387768459,"profile_path":"/fUCwfoN3JurrzltOyJT9rDNZRbV.jpg"},{"adult":false,"id":30315,"known_for":[{"adult":false,"backdrop_path":"/jjAq3tCezdlQduusgtMhpY2XzW0.jpg","id":49051,"original_title":"The
        Hobbit: An Unexpected Journey","release_date":"2012-12-14","poster_path":"/h1XjBJoWdOh8aegBoVYKgABQZSL.jpg","popularity":5.88558542381591,"title":"The
        Hobbit: An Unexpected Journey","vote_average":6.7,"vote_count":4553,"media_type":"movie"},{"adult":false,"backdrop_path":"/pmZtj1FKvQqISS6iQbkiLg5TAsr.jpg","id":1771,"original_title":"Captain
        America: The First Avenger","release_date":"2011-07-22","poster_path":"/sBZs1jSybBRBXDwcCR8IOyHLUMc.jpg","popularity":4.73321944879034,"title":"Captain
        America: The First Avenger","vote_average":6.3,"vote_count":3090,"media_type":"movie"},{"adult":false,"backdrop_path":"/hyR7Fs6Tepgu3yCQGtgO4Ilz9tY.jpg","id":57158,"original_title":"The
        Hobbit: The Desolation of Smaug","release_date":"2013-12-13","poster_path":"/gQCiuxGsfiXH1su6lp9n0nd0UeH.jpg","popularity":8.270414037509,"title":"The
   [...]
