---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"3e5b372678d34aaa6507e66c8dfdf288"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 0c1e486600373c2453775cc8ff4761a9
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":30315,"known_for":[{"adult":false,"backdrop_path":"/jjAq3tCezdlQduusgtMhpY2XzW0.jpg","id":49051,"original_title":"The
        Hobbit: An Unexpected Journey","release_date":"2012-12-14","poster_path":"/h1XjBJoWdOh8aegBoVYKgABQZSL.jpg","popularity":5.70522342131699,"title":"The
        Hobbit: An Unexpected Journey","video":false,"vote_average":6.7,"vote_count":4748,"media_type":"movie"},{"adult":false,"backdrop_path":"/pmZtj1FKvQqISS6iQbkiLg5TAsr.jpg","id":1771,"original_title":"Captain
        America: The First Avenger","release_date":"2011-07-22","poster_path":"/sBZs1jSybBRBXDwcCR8IOyHLUMc.jpg","popularity":3.3985750432635,"title":"Captain
        America: The First Avenger","video":false,"vote_average":6.3,"vote_count":3203,"media_type":"movie"},{"adult":false,"backdrop_path":"/hyR7Fs6Tepgu3yCQGtgO4Ilz9tY.jpg","id":57158,"original_title":"The
        Hobbit: The Desolation of Smaug","release_date":"2013-12-13","poster_path":"/gQCiuxGsfiXH1su6lp9n0nd0UeH.jpg","popularity":6.30959537790358,"title":"The
        Hobbit: The Desolation of Smaug","video":false,"vote_average":7.8,"vote_count":1340,"media_type":"movie"}],"name":"Richard
        Armitage","popularity":7.90578596159404,"profile_path":"/nxA9EUBaipqb68ZbD5aGcjlT6zE.jpg"},{"adult":false,"id":9205,"known_for":[{"adult":false,"backdrop_path":"/nYglPybuQsdO2rdUpTTTPy1Hx5k.jpg","id":508,"original_title":"Love
        Actually","release_date":"2003-11-07","poster_path":"/kfX8Ctin3fSZbdnjh6CXSNZUOVP.jpg","popularity":1.05639403120585,"title":"Love
        Actually","video":false,"vote_average":6.8,"vote_count":574,"media_type":"movie"},{"adult":false,"backdrop_path":"/cYWI1lnHEvoVKDdlrRt2b5et3Bj.jpg","id":563,"original_title":"Starsh[...]
