---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Jennifer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"cb1b6759b9cdc8a0e1c1f75ebbe6e8df"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '197'
      X-Memc-Expires:
      - '10603'
      X-Memc-Key:
      - f1b6c2c7e905fe9eea556cc68cdfd138
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":72129,"known_for":[{"adult":false,"backdrop_path":"/sVv4VXJ7Vd9qDPncs0zu2XepWQr.jpg","id":70160,"original_title":"The
        Hunger Games","release_date":"2012-03-23","poster_path":"/iLJdwmzrHFjFwI5lvYAT1gcpRuA.jpg","popularity":2.79215834127649,"title":"The
        Hunger Games","vote_average":6.4,"vote_count":4806,"media_type":"movie"},{"adult":false,"backdrop_path":"/39nstYsfjR6ggyKTtB4Joga2fs8.jpg","id":49538,"original_title":"X-Men:
        First Class","release_date":"2011-05-24","poster_path":"/l2cBQTfbVEWUXW8nKWCgq0ct7WU.jpg","popularity":0.266987773565747,"title":"X-Men:
        First Class","vote_average":6.8,"vote_count":2405,"media_type":"movie"},{"adult":false,"backdrop_path":"/6YEWKSFIWFTLnInzXYiSaS7pVOP.jpg","id":82693,"original_title":"Silver
        Linings Playbook","release_date":"2012-12-25","poster_path":"/ilrZAV2klTB0FLxLb01bOp5pzD9.jpg","popularity":2.2471763693382,"title":"Silver
        Linings Playbook","vote_average":6.8,"vote_count":1779,"media_type":"movie"}],"name":"Jennifer
        Lawrence","popularity":26.8000940248242,"profile_path":"/yXjoM50kT79GZqZu8mOjsmXGxXX.jpg"},{"adult":false,"id":6161,"known_for":[{"adult":false,"backdrop_path":"/4E6fPI8VHCdttDve9vBk14rsuBW.jpg","id":453,"original_title":"A
        Beautiful Mind","release_date":"2001-12-12","poster_path":"/4SFqHDZ1NvWdysucWbgnYlobdxC.jpg","popularity":1.76918203620885,"title":"A
        Beautiful Mind","vote_average":7.1,"vote_count":695,"media_type":"movie"},{"adult":false,"backdrop_path":"/4zWz6DCvjhMlLETCDPRNfiqi4vD.jpg","id":86834,"original_title":"Noah","relea[...]
