---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard%20Linklater
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"89bb1ae2ebbb5e2dffbf8c05bb5968a1"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 347378ead65413052835a4a91ff4f385
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":564,"known_for":[{"adult":false,"backdrop_path":"/i7bLaLUKcrbVifTq18xYZNc1Ln7.jpg","id":85350,"original_title":"Boyhood","release_date":"2014-07-11","poster_path":"/eKi4e5zXhQKs0De4xu5AAMvu376.jpg","popularity":5.31447192891385,"title":"Boyhood","video":false,"vote_average":8.1,"vote_count":365,"media_type":"movie"},{"adult":false,"backdrop_path":"/nLUO2kQyyvG1DlCnHuxHwapbCTX.jpg","id":1584,"original_title":"School
        of Rock","release_date":"2003-10-03","poster_path":"/cREN222Yw78zvSQ9bg17Y9QZS0c.jpg","popularity":0.686010991741503,"title":"School
        of Rock","video":false,"vote_average":6.3,"vote_count":337,"media_type":"movie"},{"adult":false,"backdrop_path":"/x2M8mp6wSU4iFPECacHJkQuuvYx.jpg","id":76,"original_title":"Before
        Sunrise","release_date":"1995-01-27","poster_path":"/4sDmI88gUAInHitaTkGej90Q3Z7.jpg","popularity":0.50261736813445,"title":"Before
        Sunrise","video":false,"vote_average":7.4,"vote_count":249,"media_type":"movie"}],"name":"Richard
        Linklater","popularity":0.612823494366604,"profile_path":"/ypiAch9og80uE5hnVBAyXXtY4B1.jpg"}],"total_pages":1,"total_results":1}'
  recorded_at: Sun, 25 Jan 2015 06:03:15 GMT
recorded_with: VCR 2.9.3
