---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Keanu%20Reeves
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"29ecf3f3c9cae65434c5c15c02f310b4"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '7539'
      X-Memc-Expires:
      - '3261'
      X-Memc-Key:
      - 3f3f1269383239c29c1c9be6cafc173c
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":6384,"known_for":[{"adult":false,"backdrop_path":"/yQeEMjnBOIAtFqIuEphyesH0a6y.jpg","id":603,"original_title":"The
        Matrix","release_date":"1999-03-30","poster_path":"/ZPMhHXEhYB33YoTZZNNmezth0V.jpg","popularity":3.29239480261522,"title":"The
        Matrix","vote_average":7.5,"vote_count":3963,"media_type":"movie"},{"adult":false,"backdrop_path":"/Fp3piEuHXxKnPBO5R0Wj4wjZHg.jpg","id":604,"original_title":"The
        Matrix Reloaded","release_date":"2003-05-06","poster_path":"/ezIurBz2fdUc68d98Fp9dRf5ihv.jpg","popularity":2.30625629717044,"title":"The
        Matrix Reloaded","vote_average":6.5,"vote_count":1420,"media_type":"movie"},{"adult":false,"backdrop_path":"/pdVHUsb2eEz9ALNTr6wfRJe5xVa.jpg","id":605,"original_title":"The
        Matrix Revolutions","release_date":"2003-10-26","poster_path":"/sKogjhfs5q3azmpW7DFKKAeLEG8.jpg","popularity":2.02557304012426,"title":"The
        Matrix Revolutions","vote_average":6.3,"vote_count":1283,"media_type":"movie"}],"name":"Keanu
        Reeves","popularity":7.73797971470884,"profile_path":"/id1qIb7cZs2eQno90KsKwG8VLGN.jpg"}],"total_pages":1,"total_results":1}'
  recorded_at: Mon, 08 Dec 2014 04:52:13 GMT
recorded_with: VCR 2.9.3
