---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard%20Linklater
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"ae8524969d541403fe11539bf883bbb9"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '9056'
      X-Memc-Expires:
      - '1744'
      X-Memc-Key:
      - 347378ead65413052835a4a91ff4f385
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":564,"known_for":[{"adult":false,"backdrop_path":"/i7bLaLUKcrbVifTq18xYZNc1Ln7.jpg","id":85350,"original_title":"Boyhood","release_date":"2014-07-11","poster_path":"/eKi4e5zXhQKs0De4xu5AAMvu376.jpg","popularity":8.70773206331435,"title":"Boyhood","video":false,"vote_average":8.2,"vote_count":341,"media_type":"movie"},{"adult":false,"backdrop_path":"/nLUO2kQyyvG1DlCnHuxHwapbCTX.jpg","id":1584,"original_title":"School
        of Rock","release_date":"2003-10-03","poster_path":"/cREN222Yw78zvSQ9bg17Y9QZS0c.jpg","popularity":1.59967887640334,"title":"School
        of Rock","video":false,"vote_average":6.3,"vote_count":335,"media_type":"movie"},{"adult":false,"backdrop_path":"/x2M8mp6wSU4iFPECacHJkQuuvYx.jpg","id":76,"original_title":"Before
        Sunrise","release_date":"1995-01-27","poster_path":"/4sDmI88gUAInHitaTkGej90Q3Z7.jpg","popularity":0.625456022407566,"title":"Before
        Sunrise","video":false,"vote_average":7.4,"vote_count":248,"media_type":"movie"}],"name":"Richard
        Linklater","popularity":1.85555401004238,"profile_path":"/ypiAch9og80uE5hnVBAyXXtY4B1.jpg"}],"total_pages":1,"total_results":1}'
  recorded_at: Tue, 20 Jan 2015 02:42:23 GMT
recorded_with: VCR 2.9.3
