---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=The%20Most%20Obscure%20Movie%20Ever
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 72b32a1f754ba1c09b3695e0cb6cde7f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1452970946'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_results":0,"total_pages":1}'
  recorded_at: Sat, 16 Jan 2016 19:02:18 GMT
recorded_with: VCR 2.9.3
