---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=The%20Worst%20Director%20Ever
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"c9c5e585a4d81ca208adb93d0d87ee42"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 39b63935e0e7d9debc25d4ceafb2df20
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Thu, 23 Apr 2015 00:05:04 GMT
recorded_with: VCR 2.9.3
