---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=When%20You%20Bite%20The%20Fry,%20the%20Fry%20Bites%20Back
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"a8d277d2d95f2ea20f792a48c43093dc"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 7ecf571b873f94b20f73df2e906dda1a
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Sun, 25 Jan 2015 06:03:16 GMT
recorded_with: VCR 2.9.3
