---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Any%20List%20Item
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"a8d277d2d95f2ea20f792a48c43093dc"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - b92a6c6e74097b28ba8ef3cd031da432
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 03 Feb 2015 03:06:38 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Generic%20Query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"c9c5e585a4d81ca208adb93d0d87ee42"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '317'
      X-Memc-Expires:
      - '10483'
      X-Memc-Key:
      - c6fa3052b87a36d1a952c52092b91f4e
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Thu, 23 Apr 2015 00:09:56 GMT
recorded_with: VCR 2.9.3
