---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Media%20Title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"c9c5e585a4d81ca208adb93d0d87ee42"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '377'
      X-Memc-Expires:
      - '10423'
      X-Memc-Key:
      - 95b7b5c9ed096912525fe2f125d64603
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Wed, 22 Apr 2015 23:08:22 GMT
recorded_with: VCR 2.9.3
