---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Keanu%20Reeves
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ab452534c5ce28c4fbb0e102d4a4fb2e
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1452970946'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"profile_path":"\/glCFGnKkX3QWxeLRYUMU1XTESHf.jpg","adult":false,"id":6384,"known_for":[{"poster_path":"\/lZpWprJqbIFpEV5uoHfoK0KCnTW.jpg","adult":false,"overview":"Thomas
        A. Anderson is a man living two lives. By day he is an average computer programmer
        and by night a malevolent hacker known as Neo, who finds himself targeted
        by the police when he is contacted by Morpheus, a legendary computer hacker,
        who reveals the shocking truth about our reality.","release_date":"1999-03-30","original_title":"The
        Matrix","genre_ids":[12,28,53,878],"id":603,"media_type":"movie","original_language":"en","title":"The
        Matrix","backdrop_path":"\/7u3pxc0K1wx32IleAkLv78MKgrw.jpg","popularity":6.235549,"vote_count":4853,"video":false,"vote_average":7.65},{"poster_path":"\/ezIurBz2fdUc68d98Fp9dRf5ihv.jpg","adult":false,"overview":"Six
        months after the events depicted in The Matrix, Neo has proved to be a good
        omen for the free humans, as more and more humans are being freed from the
        matrix and brought to Zion, the one and only stronghold of the Resistance.  Neo
        himself has discovered his superpowers including super speed, ability to see
        the codes of the things inside the matrix and a certain degree of[...]
