---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/tv?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Battlestar%20Galactica
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 83dc55aeb13cc9f621dcbaa80304d506
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1452970946'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"poster_path":"\/kPCJiwQHA4KenTybRbDPIRBlQls.jpg","popularity":4.716322,"id":1972,"backdrop_path":"\/jUPkQdETILcxIW2xSNEzAxUeHgR.jpg","vote_average":8.2,"overview":"Battlestar
        Galactica is an American military science fiction television series, and part
        of the Battlestar Galactica franchise. The show was developed by Ronald D.
        Moore as a re-imagining of the 1978 Battlestar Galactica television series
        created by Glen A. Larson.\n\nThe story arc of Battlestar Galactica is set
        in a distant star system, where a civilization of humans live on a group of
        planets known as the Twelve Colonies. In the past, the Colonies had been at
        war with a cybernetic race of their own creation, known as the Cylons. With
        the unwitting help of a human named Gaius Baltar, the Cylons launch a sudden
        sneak attack on the Colonies, laying waste to the planets and devastating
        their populations. Out of a population numbering in the billions, only approximately
        50,000 humans survive, most of whom were aboard civilian ships that avoided
        destruction. Of all the Colonial Fleet, the eponymous Battlestar Galactica
        appears to be the only military capital ship that survived the attack. Under
        the leadership of Colonial Fleet officer Commander William \"Bill\" Adama
        and President Laura Roslin, the Galactica and its crew take up the task of
        leading the small fugitive fleet of survivors into space in search of a fabled
        refuge known as Earth.","first_air_date":"2005-01-14","origin_country":["US","CA","GB"],"genre_ids":[28,12,18,14,878],"original_language":"en","vote_count":81,"name":"Battlestar
        Galactica","original_name":"Battlestar Galactica"},{"poster_path":"\/kK3ugC3lf5MgXBywf13U4Vop5cs.jpg","popularity":1.798302,"id":501,"backdrop_path":"\/uq51AqPDl8fef9HtXBJlxUmnyae.jpg","vote_average":7.3,"overview":"When
        the 12 Colonies of Man are wiped out by a cybernetic race called the Cylons,
        Commander Adama and the crew of the battlestar Galactica lead a ragtag fleet
        of human survivors in search of a \"mythical planet\" called Earth.","first_air_date":"1978-09-17","origin_country":["US"],"genr[...]
