---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Keanu%20Reeves
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"50edb6ee8c2c85a534a527530279ed38"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '4394'
      X-Memc-Expires:
      - '6406'
      X-Memc-Key:
      - 44a879fd98d8127e809222b122a17911
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":6384,"known_for":[{"adult":false,"backdrop_path":"/7u3pxc0K1wx32IleAkLv78MKgrw.jpg","id":603,"original_title":"The
        Matrix","release_date":"1999-03-30","poster_path":"/ZPMhHXEhYB33YoTZZNNmezth0V.jpg","popularity":3.93507440650913,"title":"The
        Matrix","video":false,"vote_average":7.6,"vote_count":4214,"media_type":"movie"},{"adult":false,"backdrop_path":"/Fp3piEuHXxKnPBO5R0Wj4wjZHg.jpg","id":604,"original_title":"The
        Matrix Reloaded","release_date":"2003-05-06","poster_path":"/ezIurBz2fdUc68d98Fp9dRf5ihv.jpg","popularity":2.29324421053184,"title":"The
        Matrix Reloaded","video":false,"vote_average":6.5,"vote_count":1574,"media_type":"movie"},{"adult":false,"backdrop_path":"/pdVHUsb2eEz9ALNTr6wfRJe5xVa.jpg","id":605,"original_title":"The
        Matrix Revolutions","release_date":"2003-10-26","poster_path":"/sKogjhfs5q3azmpW7DFKKAeLEG8.jpg","popularity":2.71243869486494,"title":"The
        Matrix Revolutions","video":false,"vote_average":6.3,"vote_count":1419,"media_type":"movie"}],"name":"Keanu
        Reeves","popularity":7.56693424136379,"profile_path":"/id1qIb7cZs2eQno90KsKwG8VLGN.jpg"}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 23 Apr 2015 00:04:54 GMT
recorded_with: VCR 2.9.3
