---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard%20Linklater
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"f7e7dd5674a3a8586ec4e0188ead727f"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 057e6d63b3bec3e2563a0ad7d33f164e
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":564,"known_for":[{"adult":false,"backdrop_path":"/f0HeQdnuFkboXWGBgqtwYUKgLZw.jpg","id":85350,"original_title":"Boyhood","release_date":"2014-07-11","poster_path":"/5TSUvN9e9yiGOnjyJ8QIjWOot7S.jpg","popularity":3.1541337906565,"title":"Boyhood","video":false,"vote_average":7.8,"vote_count":640,"media_type":"movie"},{"adult":false,"backdrop_path":"/nLUO2kQyyvG1DlCnHuxHwapbCTX.jpg","id":1584,"original_title":"School
        of Rock","release_date":"2003-10-03","poster_path":"/cREN222Yw78zvSQ9bg17Y9QZS0c.jpg","popularity":1.3909737789409,"title":"School
        of Rock","video":false,"vote_average":6.3,"vote_count":384,"media_type":"movie"},{"adult":false,"backdrop_path":"/x2M8mp6wSU4iFPECacHJkQuuvYx.jpg","id":76,"original_title":"Before
        Sunrise","release_date":"1995-01-27","poster_path":"/4sDmI88gUAInHitaTkGej90Q3Z7.jpg","popularity":0.750558099356213,"title":"Before
        Sunrise","video":false,"vote_average":7.4,"vote_count":275,"media_type":"movie"}],"name":"Richard
        Linklater","popularity":0.894868962933543,"profile_path":"/ypiAch9og80uE5hnVBAyXXtY4B1.jpg"}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 23 Apr 2015 00:05:03 GMT
recorded_with: VCR 2.9.3
