---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/tv?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Battlestar%20Galactica
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"76586d51a570f3a9815c7ba107584ef6"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 6ad7e6433d249d2ec5354526d08d5976
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"backdrop_path":"/jUPkQdETILcxIW2xSNEzAxUeHgR.jpg","id":1972,"original_name":"Battlestar
        Galactica","first_air_date":"2005-01-14","origin_country":["US","CA","GB"],"poster_path":"/2jf8SNzIct51xqWBPAO6Gv8NDd6.jpg","popularity":0.94421178039152,"name":"Battlestar
        Galactica","vote_average":8.9,"vote_count":30},{"backdrop_path":"/z6mCUw3jFrCehJv3CjQ9vIIafSs.jpg","id":501,"original_name":"Battlestar
        Galactica","first_air_date":"1978-09-17","origin_country":["US"],"poster_path":"/vEMEwqmOEZ4u0yVnlZ4d93sh1mE.jpg","popularity":0.0172600039143986,"name":"Battlestar
        Galactica","vote_average":0.0,"vote_count":0},{"backdrop_path":"/kprS28D7NuLYmyqMd5RihTRLLCs.jpg","id":4882,"original_name":"Battlestar
        Galactica: The Resistance","first_air_date":"2006-09-05","origin_country":["US"],"poster_path":"/nyz4S8ozmucWk0WjQUMo5lgHryx.jpg","popularity":0.0547854622598495,"name":"Battlestar
        Galactica: The Resistance","vote_average":0.0,"vote_count":0},{"backdrop_path":"/h1gSOip8kSS8NHu3A0YSdjSxY9k.jpg","id":33240,"original_name":"Battlestar
        Galactica : Blood & Chrome","first_air_date":"2012-11-09","origin_country":["US","CA"],"poster_path":"/wl6V9trvlfTfnkKhSgEMt5jRvGi.jpg","popularity":0.031570808[...]
