---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard%20Linklater
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"f6a0b011a7a7ab090eedc9dac2d30532"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '9493'
      X-Memc-Expires:
      - '1307'
      X-Memc-Key:
      - 347378ead65413052835a4a91ff4f385
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":564,"known_for":[{"adult":false,"backdrop_path":"/f0HeQdnuFkboXWGBgqtwYUKgLZw.jpg","id":85350,"original_title":"Boyhood","release_date":"2014-07-11","poster_path":"/eKi4e5zXhQKs0De4xu5AAMvu376.jpg","popularity":7.42952864349364,"title":"Boyhood","video":false,"vote_average":8.0,"vote_count":440,"media_type":"movie"},{"adult":false,"backdrop_path":"/nLUO2kQyyvG1DlCnHuxHwapbCTX.jpg","id":1584,"original_title":"School
        of Rock","release_date":"2003-10-03","poster_path":"/cREN222Yw78zvSQ9bg17Y9QZS0c.jpg","popularity":1.44278468591111,"title":"School
        of Rock","video":false,"vote_average":6.3,"vote_count":346,"media_type":"movie"},{"adult":false,"backdrop_path":"/x2M8mp6wSU4iFPECacHJkQuuvYx.jpg","id":76,"original_title":"Before
        Sunrise","release_date":"1995-01-27","poster_path":"/4sDmI88gUAInHitaTkGej90Q3Z7.jpg","popularity":0.366357538587391,"title":"Before
        Sunrise","video":false,"vote_average":7.4,"vote_count":254,"media_type":"movie"}],"name":"Richard
        Linklater","popularity":2.9970280180699,"profile_path":"/ypiAch9og80uE5hnVBAyXXtY4B1.jpg"}],"total_pages":1,"total_results":1}'
  recorded_at: Sun, 08 Feb 2015 04:30:25 GMT
recorded_with: VCR 2.9.3
