---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=The%20Matrix
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"8509617f4ea7aac3c1295a729a599c89"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '2031'
      X-Memc-Expires:
      - '8769'
      X-Memc-Key:
      - 0dfdcba649e3b4fa8421bbe0a4929dad
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/yQeEMjnBOIAtFqIuEphyesH0a6y.jpg","id":603,"original_title":"The
        Matrix","release_date":"1999-03-30","poster_path":"/gynBNzwyaHKtXqlEKKLioNkjKgN.jpg","popularity":4.11005976368111,"title":"The
        Matrix","video":false,"vote_average":7.6,"vote_count":4058},{"adult":false,"backdrop_path":"/f09oCCFxLkm81WI9crc2UZzNv4F.jpg","id":26214,"original_title":"The
        American Matrix - Age Of Deception","release_date":"2010-01-01","poster_path":"/bQ4cjN4HJ96ddYVljgNQ64klN8k.jpg","popularity":0.0160181485943418,"title":"The
        American Matrix - Age Of Deception","video":false,"vote_average":3.8,"vote_count":12},{"adult":false,"backdrop_path":"/pdVHUsb2eEz9ALNTr6wfRJe5xVa.jpg","id":605,"original_title":"The
        Matrix Revolutions","release_d[...]
