---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/tv?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Battlestar%20Galactica
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"18351e3927ff0e9382bc1be76e291378"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '4130'
      X-Memc-Expires:
      - '6670'
      X-Memc-Key:
      - 3bcecad6784dadc2632229ad29e5aefc
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"backdrop_path":"/jUPkQdETILcxIW2xSNEzAxUeHgR.jpg","id":1972,"original_name":"Battlestar
        Galactica","first_air_date":"2005-01-14","origin_country":["US","CA","GB"],"poster_path":"/2jf8SNzIct51xqWBPAO6Gv8NDd6.jpg","popularity":4.3396262907655,"name":"Battlestar
        Galactica","vote_average":8.6,"vote_count":45},{"backdrop_path":"/h1gSOip8kSS8NHu3A0YSdjSxY9k.jpg","id":33240,"original_name":"Battlestar
        Galactica : Blood & Chrome","first_air_date":"2012-11-09","origin_country":["US","CA"],"poster_path":"/srpuhSS6liwMPwUAZSg3EnIMfC0.jpg","popularity":1.01264703734061,"name":"Battlestar
        Galactica: Blood & Chrome","vote_average":5.0,"vote_count":1},{"backdrop_path":"/z6mCUw3jFrCehJv3CjQ9vIIafSs.jpg","id":501,"original_name":"Battlestar
        Galactica","first_air_date":"1978-09-17","origin_country":["US"],"poster_path":"/vEMEwqmOEZ4u0yVnlZ4d93sh1mE.jpg","popularity":0.0443279732825145,"name":"Battlestar
        Galactica","vote_average":6.0,"vote_count":1},{"backdrop_path":"/kprS28D7NuLYmyqMd5RihTRLLCs.jpg","id":4882,"original_name":"Battlestar
        Galactica: The Resistance","first_[...]
