---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=Richard%20Linklater
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 07cb5f86508f146774a2fac4373a8e50
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1452970947'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"profile_path":"\/ypiAch9og80uE5hnVBAyXXtY4B1.jpg","adult":false,"id":564,"known_for":[{"poster_path":"\/eKi4e5zXhQKs0De4xu5AAMvu376.jpg","adult":false,"overview":"The
        film tells a story of a divorced couple trying to raise their young son. The
        story follows the boy for twelve years, from first grade at age 6 through
        12th grade at age 17-18, and examines his relationship with his parents as
        he grows.","release_date":"2014-07-11","original_title":"Boyhood","genre_ids":[18],"id":85350,"media_type":"movie","original_language":"en","title":"Boyhood","backdrop_path":"\/aE1gbq6nw8zyVqvEBXMVMCqZpCs.jpg","popularity":3.03355,"vote_count":1013,"video":false,"vote_average":7.62},{"poster_path":"\/cREN222Yw78zvSQ9bg17Y9QZS0c.jpg","adult":false,"overview":"Fired
        from his band and hard up for cash, guitarist and vocalist Dewey Finn finagles
        his way into a job as a fourth-grade substitute teacher at a private school,
        where he secretly begins teaching his students the finer points of rock ''n''
        roll. The school''s hard-nosed principal is rightly suspicious of Finn''s
        activities. But Finn''s roommate remains in the dark about what he''s doing.","release_date":"2003-10-03","original_title":"School
        of Rock","genre_ids":[35,10402],"id":1584,"media_type":"movie","original_language":"en","title":"School
        of Rock","backdrop_path":"\/nLUO2kQyyvG1DlCnHuxHwapbCTX.jpg","popularity":2.228259,"vote_count":521,"video":false,"vote_average":6.43},{"poster_path":"\/9NBjDNPHA6SkThIweOs8iCfsA8a.jpg","adult":false,"overview":"A
        dialogue marathon of a film, this fairytale love story of an American boy
        and French girl. During a day and a night together in Vienna their two hearts
        collide.","release_date":"1995-01-27","original_title":"Before Sunrise","genre_ids":[18,10749],"id":76,"media_type":"movie","original_language":"en","title":"Before
        Sunrise","backdrop_path":"\/x2M8mp6wSU4iFPECacHJkQuuvYx.jpg","popularity":1.570383,"vote_count":377,"video":false,"vote_average":7.44}],"name":"Richard
        Linklater","popularity":1.117472}],"total_results":1,"total_pages":1}'
  recorded_at: Sat, 16 Jan 2016 19:02:20 GMT
recorded_with: VCR 2.9.3
