---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1972?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"3d976153074b906af3bdbbd71cb94e16"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '12570'
      X-Memc-Expires:
      - '9030'
      X-Memc-Key:
      - df7d895e05386acbe54c2de531e933f0
    body:
      encoding: UTF-8
      string: '{"backdrop_path":"/jUPkQdETILcxIW2xSNEzAxUeHgR.jpg","created_by":[{"id":2385,"name":"Ronald
        D. Moore","profile_path":"/sAUeNMtclYYMa6Pp38oBRpckaZX.jpg"},{"id":227330,"name":"Glen
        A. Larson","profile_path":null}],"episode_run_time":[42,60,44],"first_air_date":"2005-01-14","genres":[{"id":18,"name":"Drama"},{"id":10759,"name":"Action
        & Adventure"},{"id":10765,"name":"Sci-Fi & Fantasy"}],"homepage":"http://www.syfy.com/battlestar/","id":1972,"in_production":false,"languages":["de","en"],"last_air_date":"2009-03-20","name":"Battlestar
        Galactica","networks":[{"id":77,"name":"Syfy"}],"number_of_episodes":73,"number_of_seasons":4,"origin_country":["US","CA","GB"],"original_language":"en","original_name":"Battlestar
        Galactica","overview":"Battlestar Galactica is an American military science
        fiction television series, and part of the Battlestar Galactica franchise.
        The show was developed by Ronald D. Moore as a re-imagining of the 1978 Battlestar
        Galactica television series created by Glen A. Larson.\n\nThe story arc of
        Battlestar Galactica is set in a distant star system, where a civilization
        of humans live on a group of planets known as the Twelve Colonies. In the
        past, the Colonies had been at war with a cybernetic race of their own creation,
        known as the Cylons. With the unwitting help of a human named Gaius Baltar,
        the Cylons launch a sudden sneak attack on the Colonies, laying waste to the
        planets and devastating their populations. Out of a population numbering in
        the billions, only approximately 50,000 humans survive, most of whom were
        aboard civilian ships that avoided destruction. Of all the Colonial Fleet,
        the eponymous Battlestar Galactica appears to be the only military capital
        ship that survived the attack. Under the leadership of Colonial Fleet officer
        Commander William \"Bill\" Adama and President Laura Roslin, the Galactica
        and its crew take up the task of leading the small fugitive fleet of survivors
        into space in search of a fabled refuge known as Earth.","popularity":0.94421178039152,"poster_path":"/2jf8SNzIct51xqWBPAO6Gv8NDd6.jpg","production_companies":[],"seasons":[{"air_date":"2003-12-08","episode_count":39,"id":5844,"poster_path":"/vbvnf88KR2A94jxQuQYNYxUnp9B.jpg","season_number":0},{"air_date":"2005-01-14","episode_count":13,"id":5840,"poster_path":"/3udPaKQIhcREoajfYQPbIByD3A3.jpg","season_number":1},{"air_date":"2005-07-15","episode_count":20,"id":5841,"poster_path":"/5cW5wuj9i0sFuizsFyUv5W4KibO.jpg","season_number":2},{"air_date":"2006-10-06","episode_count":20,"id":5842,"poster_path":"/cjRivsiBaVfNKJxojzIlTPG8PxV.jpg","season_number":3},{"air_date":"2008-04-04","episode_count":20,"id":5843,"poster_path":"/aNMj23lBlwGZUo2RnvPJXm3Hh95.jpg","season_number":4}],"status":"Ended","type":"Scripted","vote_average":8.9,"vote_count":30}'
  recorded_at: Sun, 25 Jan 2015 05:57:29 GMT
recorded_with: VCR 2.9.3
