---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/564?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"666fba84dda7321e1ca6a5121c97de78"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '13137'
      X-Memc-Expires:
      - '15663'
      X-Memc-Key:
      - 23ea45b1e4b7fc4d3d4b2acc304fc538
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '23'
      X-Ratelimit-Reset:
      - '1452970947'
    body:
      encoding: UTF-8
      string: '{"adult":false,"also_known_as":[],"biography":"Self-taught writer-director
        Richard Linklater was among the first and most successful talents to emerge
        during the American independent film renaissance of the 1990s. Typically setting
        each of his movies during one 24-hour period, Linklater''s work explored what
        he dubbed \"the youth rebellion continuum,\" focusing in fine detail on generational
        rites and mores with rare compassion and understanding while definitively
        capturing the 20-something culture of his era through a series of nuanced,
        illuminating ensemble pieces which introduced any number of talented young
        actors into the Hollywood firmament.","birthday":"1960-07-30","deathday":"","homepage":"http://www.detourfilm.com/","id":564,"imdb_id":"nm0000500","name":"Richard
        Linklater","place_of_birth":"Houston, Texas, USA","popularity":0.117472,"profile_path":"/ypiAch9og80uE5hnVBAyXXtY4B1.jpg"}'
  recorded_at: Sat, 16 Jan 2016 19:02:27 GMT
recorded_with: VCR 2.9.3
