---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=55b1fc7a27dbd0d38e8c359d425b7ef1&query=The%20Matrix
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"72d544998f75d66ad5c103f0d35f8896"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '962'
      X-Memc-Expires:
      - '9838'
      X-Memc-Key:
      - 1cf41a41f12f3fa3924092f61cfce06d
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/7u3pxc0K1wx32IleAkLv78MKgrw.jpg","id":603,"original_title":"The
        Matrix","release_date":"1999-03-30","poster_path":"/ZPMhHXEhYB33YoTZZNNmezth0V.jpg","popularity":3.93507440650913,"title":"The
        Matrix","video":false,"vote_average":7.6,"vote_count":4216},{"adult":false,"backdrop_path":"/pdVHUsb2eEz9ALNTr6wfRJe5xVa.jpg","id":605,"original_title":"The
        Matrix Revolutions","release_date":"2003-10-26","poster_path":"/sKogjhfs5q3azmpW7DFKKAeLEG8.jpg","popularity":2.71243869486494,"title":"The
        Matrix Revolutions","video":false,"vote_average":6.3,"vote_count":1419},{"adult":false,"backdrop_path":"/Fp3piEuHXxKnPBO5R0Wj4wjZHg.jpg","id":604,"original_title":"The
        Matrix Reloaded","release_date":"2003-05-06","poster_path":"/ezIu[...]
