<section id="list-items" class="text-center">
  {{view "select" content=controller.types value=type}}
  {{input value=name placeholder="enter item"}}
  <ul class="list-unstyled">
    {{#each}}
      <li>
        {{type}}
        {{name}}
      </li>
    {{/each}}
  </ul>
</section>
