<section id="add-list-item" class="row" style="margin-bottom: 10px">
  {{view "select" content=controller.types value=type class="col-md-offset-4"}}
  {{input value=name placeholder="enter item"}}
</section>
<section id="list-items" class="row">
  <div class="list-group col-md-4 col-md-offset-4">
    {{#each itemController="listItem"}}
      <a class="list-group-item" href="#">
        <i {{bind-attr class=":fa :fa-2x :fa-fw typeIcon"}} style="padding-right: 10px;"></i>
        <span style="font-size: 1.25em">{{name}}</span>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </a>
    {{/each}}
  </ul>
</section>
