<section id="list-items" class="text-center">
  {{view "select" content=controller.types value=type}}
  {{input value=name placeholder="enter item"}}
  <ul class="list-unstyled">
    {{#each itemController="listItem"}}
      <li>
        <i {{bind-attr class=":fa :fa-2x typeIcon"}}></i>
        {{name}}
      </li>
    {{/each}}
  </ul>
</section>
