$show-base-bg: #E8E1F5;
$show-text-color: #5D5193;

@mixin list-item-variant($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  &:hover {
    background-color: darken($bg-color, 5%);
    color: $text-color;
  }
  &:focus {
    background-color: darken($bg-color, 5%);
    color: $text-color;
  }
}

.list-item__icon {
  padding-right: 10px;
}

.list-item__name {
  font-size: 1.25em;
}

.list-group .show {
  @include list-item-variant($show-base-bg, $show-text-color)
}
